*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color:springgreen;
  
 }


.main-div{
    height: 99%;
    width: 100%;
   display: flex;
   justify-content: space-between;
   


} 

.setting{
    position: absolute;
    top: 40px;
    left: 5px;
    width: 19%;
    height: 17%;
    display: none;
    border: 2px solid #6dd5ed;
    background-color: white;
    box-sizing: border-box;

}



.setting input {
width: 90%;
display: block;
box-sizing: border-box;
padding: 5px;
outline: none;
margin: 20px auto ;
border: 1px solid springgreen;

}

.logout{
    display: block;
    border: 1px solid springgreen;
    padding: 5px;
    width:  50%;
    height: 32px;
    background-color: white;
    outline-style: none;
    color: teal;
    cursor: pointer; 
    font-size: 15px; 
    font-weight: 600;
    margin: 0 auto;
    
   } 

   .s{
       position: absolute;
       top: 3px;
       left: 3px;
       width: 65px;
       height: 35px;
       font-size: 14px;
       font-weight: 600;
       border: 1px solid #2193b0;
       cursor: pointer;
       background-image: linear-gradient(to right, #2193b0 , #6dd5ed);
       color: white;
   }

   .setting.active{
    display: block;
    animation-name: example;
    animation-duration: 1s;
   
   }
   @keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.room-list-div{
   width: 20%;
   height: 100%;
   background-color:#2c3e50;
   overflow-y:scroll;

   
}

.room-list-div::-webkit-scrollbar{
    display: none;
}

.main{
   background-color:  whitesmoke;
    text-align: center;
    width: 79%;
    position: relative;
}
h1{
    text-transform: capitalize;
    margin-bottom: 10px;
    padding-top: 5px;
    color: white;
    font-size: 25px;
    text-align: center;
}
.msg-div{
    height: calc(100% - 29px);
    overflow-y: scroll;
}

.msg-div::-webkit-scrollbar{
    display: none;
}

.room{
    display: inline-block;
    width: 95%;
    padding-bottom: 5px;
    color: springgreen;
    text-transform: capitalize;
    padding-left: 10px;
    word-wrap: break-word;
    
}


.text{
    padding-left: 10px;
    font-weight: 600;
    color: springgreen;
}





.username{
    display: block;    
    padding: 5px 0 5px 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: lightgreen;
   
    }

.sub-div{

width: 100%;

}    

.com-div{
    position: relative;
    border-radius: 3px;
    color: lightgreen;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}

.com-div p{
padding-left: 10px;
width: 94%; 
color: #2c3e50;

}

.com-div .username{
 padding: 5px;   
}



.span{
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    

}

.alert-div{
font-weight: 600;  
font-size: 20px;  
color: lightgreen;
background-color: white;
text-transform: capitalize;    
}


.chat-div{
    text-align: left;
    word-wrap: break-word;
   

}


.chat-p{
    padding: 0 0 0 5px;
}


.loc-div{
    text-align: left;

}

.loc-p a{
 display: inline-block;   
 text-transform: capitalize;    
font-weight: 600;
font-size: 20px;
margin-left: 50%;
transform: translate(-50%);
text-decoration: none;

}


.form-div{
display: flex;
justify-content: space-between;
box-sizing: border-box;

}    

.buts{
    border: none;
    padding: 5px;
    outline-style: none;
    border-right: solid 2px springgreen;
    border-top: solid 2px springgreen;
}

.msg-form input{
    width: 48%;
   
}

.send-but{
    width: 20%;
    background-color: white;
    cursor: pointer;
    font-weight: 500;

}

.location-but{
width: 31%;
background-color: white;
font-size: 15px;
font-weight: 500;
text-transform: capitalize;
cursor: pointer;
}

 
@media screen and (max-width: 860px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
 .s{
top: 35px;
left: 3px;
width: 19%;
 }

 .setting{
     top: 75px;
     left: 3px;
     height: 11%;

 }

 .logout{
  height: 25px;    
 }
    
.room{
    margin-top: 40px;
   
}
  } 

    
@media screen and (max-width: 470px) {
  
.room-list-div{
    width: 30%;
  } 

    
.main{
     width: 69%;
 }

.s{
top: 35px;
left: 1px;
width: 29%;
}

.setting{
    width: 29%;
    left: 1px;
    height: 19%;

}

.setting input{
    width: 99%;
}

.logout{
    width: 70%;    
   }
   
.alert-div p{
    text-align: left;
    padding-left: 10px;   
     }
 

}